#content_container {
    padding-top: 10px;
}
#testcontainer {
}

#content_container .user_panel{
    float: left;    
    width: 180px;    
    height: 700px;
    margin-right: 10px;
}

#content_container .content {
}

table {
    border: solid 1px black;        
}

table th {
    background-color: #999999;
    color: white;
}

/* Artikel index */
#article_index {
    width: 700px;
}

.article {
    height: 80px;
}

.pic {
    width: 90px;
}

.content {
    vertical-align: top;
}

.admin_bar {
    background-color: lightgray;
}

.admin_bar a:hover{
    color: white;
}

.label a{
   text-decoration: none;
}

.number {
    font-size: 8px;
}

.buy {
    width: 150px;
    text-align: right;
}

.buy .price {
    color: green;
    margin-right: 13px;
}

/* Brand show */
#brand_show { 
    width: 400px;
}

.brand .info{
    vertical-align: top;
}

.quantity {
    margin-top: 27px;
}
