<!DOCTYPE html>
<html>
<head>
  <title>Onlineshop</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body id="site">
  <div id="panel_container">
    <div id="menu">
      <a href="/articles">Artikel</a> | 
      <a href="/categories">Kategorien</a> | 
      <a href="/users">User</a> | 
      <a href="/brands">Marken</a> | 
      <a href="/bookings">Bestellungen</a> | 
      <a href="/booking_contents">Bestellungsinhalte</a> | 
      <a href="/baskets">Warenkörbe</a> | 
      <a href="/basket_contents">Warenkorbinhalte</a>      
    </div>    
  </div>
  <div id="content_container">
    <div id="all_content">
      <div class="user_panel">
        LOGIN
      </div>
      <div class="content">
        <%= yield %>
      </div>
    </div>
  </div>  
</body>
</html>
